<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>GU-Safe-Transcription-Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index')}}"><img
                src="{{ url_for('static', filename='img/LO_GUeng_cenRGB.png') }}" style="height:40px"></a>

    </div>
</nav>
<div class="container">
    <div class="row">
        <form id="my-dropzone" class="dropzone mt-4 border-dashed" action="/upload" method="post"
              enctype="multipart/form-data">
            <div class="dz-message" data-dz-message><span>Drop your audiofiles here, or click to select files</span>
            </div>
            <div class="fallback">
                <input type="file" name="file">
            </div>
        </form>
    </div>
    <div class="row" style="margin-top:30px">
        <table class="table">
            <thead>
            <th>Audiofile</th>
            <th>Actions</th>
            </thead>
            <tbody hx-get="/filestable" hx-trigger="every 2s" hx-swap="innerHTML">
            {% if transcripts|length == 0%}
            <tr>
                <td colspan="2" style="text-align: center">No Files... upload some 👆 </td>
            </tr>
            {% else %}
            {% for transcript in transcripts %}
            <tr>
                <td><a style="color: inherit; text-decoration: none;" hx-get="/detail/{{transcript.id}}" hx-target="#detailView"
                       hx-swap="outerHTML" href="#">
                    <img src="/static/img/file_audio.svg" height="20px"> {{transcript.audiofile}}</a></td>

                <td>
                    <button hx-get="/detail/{{transcript.id}}" hx-target="#detailView" hx-swap="outerHTML"
                            class="btn btn-sm btn-outline-secondary">view
                    </button>&nbsp;&nbsp;
                    <button hx-get="/delete/{{transcript.id}}" hx-target="#detailView" hx-swap="innerHTML" settle:1s
                    " hx-confirm="Delete?" class="btn btn-sm btn-outline-danger fade-me-out">delete</button>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>


    </div>

</div>
<div class="container">
    <div id="detailView" class="row">
    </div>
</div>


<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
<script>
        // Initialize Dropzone3
        Dropzone.options.myDropzone = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: {{max_file_size}},
            acceptedFiles: "{{allowed_filetypes}}", // Specify accepted file types
            init: function () {
                this.on("success", function (file, response) {
                    // Handle the success response here (e.g., show a success message)
                    console.log(response);
                });
                    this.on("complete", function(file) {
                        this.removeFile(file);});
            this.on("error", function (file, errorMessage) {
                    // Handle the error here (e.g., display an error message)
                    console.error(errorMessage);
                });
            }
        };
</script>

</body>
</html>
